body {
  font-family: sans-serif;
  background-color: #0f2027;
}

a {
  text-decoration: none;
  color: #4286f4;
}

a:hover {
  color: #e65600;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 2em 1em 1em 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: relative;
  z-index: 1;
  top: 100;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  width: 50%;
}

/* Control the right side */
.right {
  right: 0;
  width: 50%;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}

.runkit {
  width: 90%;
  overflow-y: hidden;
  pointer-events: none;
}

.overlayInit {
  position: absolute;
  width: 100%;
  top: 0px;

  z-index: 0;
}

.overlayRan {
  position: absolute;
  width: 100%;
  top: 0px;
  padding-bottom: 30px;
  height: calc(100% - 98px);
  z-index: 0;
}

.loading {
  width: 95%;
}

.markdown,
.code {
  margin: 1em;
  /* width: 100%;
  height: 100% */
}

.scrollable {
  overflow-y: auto;
  max-height: 85vh;
  max-width: 45vw;
}

.generalLinks {
  position: relative;
}

.search-container {
  position: absolute;

  right: -25%;
  top: 1.25em;
  width: 55em;
}

.ace_content {
  width: 100%;
}

.nav,
.visual {
  background-color: #0f2027;
}

.nav {
  height: 7em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}

.reactivelist {
  color: white;
  background-color: rgba(103, 128, 159, 0.3);
  margin: 1em;
  padding: 5em;
}

.reactivelist:hover {
  background-color: #0f2027;
  cursor: grab;
}

.editorcontainer {
  background-color: #0f2027;
  height: 93vh;
  color: white;
}

.generalAssociations {
  margin: 5em 5em 5em 0em;
  text-align: center;
}

.ui.sidebar {
  width: 50vw !important;
  background-color: #0f2027;
  outline: solid 2px #4286f4;
  padding: 1em;
  /* margin-left: 30%;/ */
  /* margin-top: 30%; */
}

.loaderContainer {
  /* width: 50vw; */
  /* height: 100vh; */
  padding-top: 50%;
}

.cosmonoteLoader {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* vertical-align: ce nter; */
  width: 100px;
  height: 100px;
  /* margin: -60px 0 0 -60px; */
  -webkit-animation: spin 4.5s linear infinite;
  -moz-animation: spin 4.5s linear infinite;
  animation: spin 4.5s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
